/* CSS for website */

.book-summary ul.summary li a, .book-summary ul.summary li span {
  white-space: normal;
}

.figure { 
    /*margin: 1.5em 0px; 
    padding: 10px 0;*/
    display: flex; 
    justify-content: center; /* align horizontal */ 
    align-items: center; /* align vertical */ 
}
